/* UNIVERSAL */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* List items */
li { 
    list-style-type: none; 
}

/* Hyperlink */
a { 
    text-decoration: none;
}

/* body (read: landing page) */
body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    height: 50px;
}


/* Navbar */
.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

/* Navbar navigation lists */
.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

/* Navbar navigation list items */
.navbar ul li {
    margin-left: 15px;
}

/* Navbar navigation list item links */
.navbar ul li a {
    color: black;
}

/* Navbar navigation list item links when you hover over them */
.link:hover {
    text-decoration: underline;
}

/* Navbar navigation shadow around circle for profile picture */
.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar navigation shadow round circle for profile picture when hover over */
.circle-shadow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Navbar navigation menu icons */
.user-icon span {
    font-size: 18px;
}

/* Navbar navigation circle for profile picture text (within HTML span tag) */
.user-icon span {
    color: white;
}

/* circle for profile picture text (within HTML span tag) */
.user-icon {
    background-color: #EF6C00;
    height: 30px;
    width: 30px;
    border-radius: 50%; /* makes it a circle */
    text-align: center;
    line-height: 30px;
}

/* Content */
.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

/* Image */
.logo-img {
    width: 15%;
    margin-bottom: 40px;
}

/* Search Bar */
.search-bar {
    border: 1px solid lightgray;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px;
}

/* Search Bar - what happens when hover? */
.search-bar:hover {
    box-shadow: 0px 0px 4px 0px #B5B5B5;
}

.search-bar span {
    color: rgb(145, 145, 145);
    margin-right: 15px;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

input[type=button], input[type=submit] {
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F2F3F4;
    cursor: pointer;
}

.search-btns {
    padding-top: 25px;
    box-align: center;
}

input[type=button], input[type=submit]:hover {
    border: 1px solid lightgray;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    height: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.upper-footer {
    height: 50%;
    border-bottom: 1px solid rgb(131, 131, 131);
}

.upper-footer p {
    color: gray;
    font-size: 14px;
}

.lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.lower-footer ul li a {
    font-size: 14px;
    color: gray;
}

.lower-footer ul li a:hover {
    text-decoration: underline;
}

.lower-left-footer {
    display: flex;
}

.lower-left-footer li {
    margin-right: 15px;
}


.lower-right-footer {
    display: flex;
}

.lower-right-footer li {
    margin-left: 15px;
}

/* Mobile and Tablet */
@media only screen and (max-width: 650px) {
    /* Navbar */
    .navbar ul {
        font-size: 10px;
    }

    .user-icon span {
        font-size: 14px;
    }

    .circle-shadow {
        height: 30px;
        width: 30px;
    }

    /* Logo */
    .logo-img {
        width: 200px;
    }

    /* Search Bar */
    .search-bar {
        width: 90%;
        height: 35px;
    }

    /* Buttons */
    .search-btns button {
        height: 30px;
        font-size: 12px;
    }

    .google-search-btn {
        width: 100px;
    }
    
    .lucky-search-btn {
        width: 120px;
    }

    /* Footer */
    footer {
        height: 1em;
    }

    .footer-content {
        display: flex;
        align-items: center;
        height: 1em;
    }

    
